{% extends 'base.html' %}

{% block content %}
  <div class="antialiased">
    {% include 'pages/widgets/navbar.html' %}
    {% include 'pages/widgets/sidebar.html' %}

   

    <main class="h-auto p-4 pt-20 mx-2 md:ml-64">
      <h1 class=" font-bold text-2xl">Oxidoreductases</h1>
   
      <p class="font-thin my-1 mb-5 italic text-base text-gray-90 max-w-[45rem]"> Reactions based on the following article as reference:    Temporiti MEE, Nicola L, Nielsen E, Tosi S. Fungal Enzymes Involved in Plastics Biodegradation. Microorganisms. 2022 Jun 8;10(6):1180. doi: 10.3390/microorganisms10061180. PMID: 35744698; PMCID: PMC9230134.</p>
      <div class="w-full flex justify-center ">
        <form id="reactionForm" class="max-w-md w-full rounded-lg  border-2 border-neutral-100 shadow-sm p-4" method="get" action="{% url 'oxidoreductases' %}">
          <div x-data="{ show: true }" x-init="setTimeout(() => show = false, 5000)" x-show="show" class="p-1 my-2 ">
            {% if messages %}
                {% for message in messages %}
                    <div id="toast-warning" class="flex items-center w-full  p-4 rounded-lg shadow text-gray-500 bg-white" role="alert">
                        <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 rounded-lg">
                            <!-- Icons based on message type -->
                            {% if message.tags == 'success' %}
                            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-green-500  bg-green-100 rounded-lg  ">
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z"/>
                                </svg>
                                <span class="sr-only">Check icon</span>
                            </div>
                            {% elif message.tags == 'error' %}
                            <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-red-500 bg-red-50 rounded-lg ">
                                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 11.793a1 1 0 1 1-1.414 1.414L10 11.414l-2.293 2.293a1 1 0 0 1-1.414-1.414L8.586 10 6.293 7.707a1 1 0 0 1 1.414-1.414L10 8.586l2.293-2.293a1 1 0 0 1 1.414 1.414L11.414 10l2.293 2.293Z"/>
                                </svg>
                                <span class="sr-only">Error icon</span>
                            </div>
                            {% endif %}
                        </div>
                        <div class="ml-3 text-sm font-normal">{{ message }}</div>
                        <button type="button" @click="show = false" class="ml-auto  text-gray-400 hover:text-gray-900 rounded-lg p-1.5" aria-label="Close">
                            <svg class="w-3 h-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 1l6 6m0 0l6 6M7 7l6-6M7 7l-6 6"/></svg>
                        </button>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
          <label for="specific_enzyme" class="block mb-2 text-sm font-medium text-gray-600 ">Select an enzyme</label>
          <select id="specific_enzyme" name="specific_enzyme" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option {% if request.GET.specific_enzyme == "laccase" %}selected{% endif %} value="laccase">laccase</option>
            <option {% if request.GET.specific_enzyme == "maganese_peroxidade" %}selected{% endif %} value="maganese_peroxidade">maganese peroxidase</option>
            <option  {% if request.GET.specific_enzyme == "lignin_peroxidase" %}selected{% endif %} value="lignin_peroxidase">lignin peroxidase</option>
            <option {% if request.GET.specific_enzyme == "versatile_peroxidase" %}selected{% endif %} value="versatile_peroxidase">versatile peroxidase</option>
          </select>
          <br />
          <label for="chemical_group" class="block mb-2 text-sm font-medium text-gray-600 ">Select chemical group to add</label>
          <select id="chemical_group" name="chemical_group" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option selected value="carbonyl">Carbonyl</option>
            <option value="hydroxyl">hydroxyl</option>
           
          </select>
          <br />
          
        <button type="button" onclick="checkReaction()" class="inline-flex w-full items-center justify-center px-4 py-2 text-sm font-medium tracking-wide text-blue-500 transition-colors duration-100 rounded-md focus:ring-2 focus:ring-offset-2 focus:ring-blue-100 bg-blue-50 hover:text-blue-600 hover:bg-blue-100">
          Show reaction
      </button>
        
        </form>
      </div>

      <div id="reactionContent" class=" gap-4">

        {% if not reaction_available %}
          <div x-show="showToast" x-init="setTimeout(() => showToast = false, 2000)" id="toast-warning" class="flex bg-red-100 items-center w-full max-w-xs p-4 text-gray-500  rounded-lg shadow  " role="alert">
              <div class="inline-flex items-center justify-center flex-shrink-0 w-8 h-8 text-orange-500 bg-red-100 rounded-lg ">
                  <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                      <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/>
                  </svg>
                  <span class="sr-only">Warning icon</span>
              </div>
              <div class="ml-3 text-sm font-normal">No reaction available.</div>
              <button type="button" class="ml-auto bg-white text-gray-400 hover:text-gray-900 rounded-lg p-1.5 hover:bg-gray-100 " @click="showToast = false" aria-label="Close">
                  <span class="sr-only">Close</span>
                  <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                      <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                  </svg>
              </button>
          </div>
        {% endif %}
      
        {% if reaction_available %}
       
          <!-- Top row: 3 equally spaced cards with right arrows outside -->
         
          <h2 class="font-bold text-center my-4 text-gray-600 block">Reagents</h2>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            {% for img in reagents_images %}
              <div class="flex items-center">
                <a href="#" class="bg-white border border-gray-50 rounded-xl shadow w-full  flex justify-center items-center">
                  <img src="data:image/png;base64,{{ img }}" alt="Reagent Image" class="w-40 rounded-xl" />
                </a>
              </div>  
            {% endfor %}     
          </div>
          
 
          <!-- Bottom row: 2 cards occupying full width of the grid, with right arrows outside -->
          <h2 class=" font-bold text-gray-600 my-4 text-center block">Products</h2>
          <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            {% for img in products_images %}
              <div class="flex items-center">
                <a href="#" class="bg-white border border-gray-50 rounded-xl shadow w-full  flex justify-center items-center">
                  <img src="data:image/png;base64,{{ img }}" alt="Product Image" class="w-40 rounded-xl" />
                </a>
                
                
              </div>
            {% endfor %}
          </div>
       
        {% endif %}
      </div>

    </main>
  </div>

  <script>
    function checkReaction() {
      // Get the form element and submit it
      const form = document.getElementById('reactionForm');
      form.submit();
    }
  </script>
{% endblock %}
